#start camera server as daemon
service qcamerasvr /system/bin/mm-qcamera-daemon
        class late_start
        user system
        group system camera inet

# on emmc mount the partition containing firmware
on emmc-fs
   mkdir /tombstones 0771 system system
   mount ext4 /dev/block/platform/msm_sdcc.1/by-name/tombstones /tombstones nosuid nodev barrier=1
   mkdir /tombstones/modem 0771 system system
   mkdir /tombstones/lpass 0771 system system
   mkdir /tombstones/wcnss 0771 system system
   mkdir /tombstones/dsps 0771 system system
   mkdir /firmware 0771 system system
   wait /dev/block/platform/msm_sdcc.1/by-name/modem
   mount vfat /dev/block/platform/msm_sdcc.1/by-name/modem /firmware ro shortname=lower
   exec /system/bin/sh /system/etc/init.qcom.modem_links.sh
   exec /system/bin/sh /system/etc/init.qcom.mdm_links.sh

on post-fs
   mount ext4 /dev/block/platform/msm_sdcc.1/by-name/system /system ro remount barrier=1

on boot
    mkdir /data/misc/prox 0777 radio radio
    chmod 0777 /dev/taos

   write /sys/devices/i2c-3/3-0024/cyttsp_update_fw 1
   start qcamerasvr

service thermald /system/bin/thermald
   class main
   user root
   group root

service mpdecision /system/bin/mpdecision --no_sleep --avg_comp
   user root
   disabled

service kickstart /system/bin/qcks l
    oneshot
    disabled

service qseecomd /system/bin/qseecomd
   class late_start
   user system
   group system

on property:ro.baseband=mdm
    mkdir /data/qcks 0770 system system
    start kickstart

chmod 0777 /system/bin/akmd8962_new

service akmd /system/bin/akmd8962_new -m 6 
    class late_start
    oneshot

service proximity_init /system/bin/proximity.init -r
    disabled
    oneshot
    
on property:dev.bootcomplete=1
    start proximity_init

service sdcard /system/bin/sdcard /data/media 1023 1023
    class late_start
